@import "@styles/button";

.headingIcon {
    width: 10.2em;
    height: 7.44em;
    margin: 1.2em auto 0 auto;
}

.heading {
    font-size: 1.92em;
    font-weight: 300;
    line-height: 1;
    text-align: center;
}

.link {
    @extend .primaryButton;
    padding-top: .17em;
    padding-bottom: .17em;
    margin-top: 1.24em;

    &Text {
        font-size: 1.38em;
    }
}

.goBack {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 3.96em 0 0 2.28em;
    background: none;
    border: none;

    &Icon {
        width: .96em;
        height: .96em;
    }
}