@import "@styles/button";

.headingIcon {
    width: 10.2rem;
    height: 7.44rem;
    margin: 1.2rem auto 0 auto;
}

.link {
    @extend .primaryButton;
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin-top: 1.44rem;
    font-size: 1.6rem;
}

.goBack {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 3.96rem 0 0 2.28rem;
    background: none;
    border: none;
    line-height: 1;

    &Icon {
        width: .96rem;
        height: .96rem;
    }
}