@import "@styles/input.scss";
@import "@styles/button.scss";

.field {
    @extend .input;
    margin-bottom: 1.44rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.submit {
    @extend .primaryButton;
    margin-top: 3.68rem;
}