.schedule {
  margin-top: 20px;
  width: 100vw;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  width: 100%;

  img {
    cursor: pointer;
  }
}

.calendar {
  display: grid;
}