@import 'src/styles/mixins.scss';

header {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  background-image: url("backgroun.svg");
}

nav {
  display: flex;
  flex-direction: row;
  gap: 85px;
  padding-right: 130px;

  p {
    cursor: pointer;

    &:hover {
      @include textHower();
    }
  }
}