.checkbox {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: .8em;
    height: .8em;
    border: 1px solid black;
    border-radius: .16em;
}

.checkbox:focus {
    outline: none;
}

.checkbox::before {
    content: "";
    width: .4em;
    height: .4em;
    background-color: black;
    border-radius: .08em;
    visibility: hidden;
}

.checkbox:checked::before {
    visibility: visible;
}
