.input {
    display: block;
    width: 14.25rem;
    background-color: #D9E3EB;
    border: 1.5px solid #C8C8C8;
    border-radius: .4rem;
    padding: .8rem 1.2rem;
    margin: 0 auto;
    line-height: 1;

    &::placeholder {
        color: rgba(114, 114, 114, .8);
        text-align: center;
    }
}