@import "variables";

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin flexCentering {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin sidebarTitles {
  font-weight: 300;
  font-size: 36px;
  color: $textBlack;
}