@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin flexCentering {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin textHower {
  transition: all 0.5s ease;
  color: $yellow;
}