$backgroundColor: #E1EBF3;
$lightWhite: #E4EBF5;
$activeBlue: #ADD8E6;


$marginWrap: 50px;
$black: #1e1e1e;
$yellow: #f5c778;
$red: #BF4040;
$turquoise: #5CC1AC;
$pink: #8C79F6;
$white: #ffffff;
$gray: #9a9faa;
$backgroundGray: #222529;
$mediumFZ: 14px;
$navWidth: 60px;
$grayTransparent: #8a8a8a56;

$button: hsl(0, 0%, 12%);
$button-hover: hsl(0, 0%, 20%);
$button-active:  hsl(0, 0%, 30%);
$button-visited: hsl(0, 0%, 20%);