$backgroundColor: #E1EBF3;
$lightWhite: #E4EBF5;
$activeBlue: #ADD8E6;
$textBlack: #000000;
$gray: #727272;

$button: hsl(0, 0%, 12%);
$button-hover: hsl(0, 0%, 20%);
$button-active:  hsl(0, 0%, 30%);
$button-visited: hsl(0, 0%, 20%);