.heading {
    margin-top: 3.92rem;
    margin-bottom: 1.2rem;
}

.passwordHeading {
    margin-top: 3.92rem;
    margin-bottom: 3.68rem;
}

.confirmHeading {
    margin-top: 2.12rem;
    margin-bottom: 1.2rem;
}