@import '@styles/input.scss';

.dropdown {
    color: #727272;
    margin: 0 auto;
    width: fit-content
}

.selectButton {
    @extend .input;
    padding-left: 0;
    padding-right: 0;
    width: 9.68rem;
    color: inherit;
    background-color: #D9E3EB;

    &Icon {
        display: inline;
        vertical-align: middle;
        width: .48rem;
        margin-left: .2rem;
    }
}

.menu {
    @extend .input;
    width: 100%;
    border: none;
    background: none;
    height: 10.76rem;

    &:focus {
        outline: none;
    }
}

.item {
    padding: .5rem .4rem .5rem .4rem;
    font-size: .8rem;
    text-align: center;
    border-bottom: 2px solid #CBCBCB;;

    &:hover {
        cursor: auto;
    }

    &:last-of-type {
        border-bottom: none;
    }
}

.scrollbar {
    max-height: 10.76rem;
    margin-top: 2px;
    border: 1.5px solid #CBCBCB;
    border-radius: .4rem;
    width: 9.68rem;
    color: inherit;
    background-color: #E1EBF3; 
}
