@import '@styles/input';
@import '@styles/button';

.heading {
    margin: 4.76rem 0 1.28rem 0;
}

.login {
    @extend .input;
    margin-bottom: 1.44rem;

    &::placeholder {
        text-align: start;
    }
}

.password {
    @extend .input;
    
    &::placeholder {
        text-align: start;
    }
}

.forgotPassword {
    display: block;
    font-size: .76rem;
    line-height: 1;
    text-align: end;
    color: #090840;
    margin-top: .6rem;
    margin-right: 5.84rem;
}

.signInButton {
    @extend .primaryButton;
    margin-top: 1.44rem;
}

.signUpButton {
    @extend .secondaryButton;
    margin-top: 0.76rem;
}