.schedule {
  margin-top: 20px;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  width: 100%;

  img {
    cursor: pointer;
  }
}

.calendar {
  margin-left: 58px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}