@import '@styles/input';
@import '@styles/checkbox';

.gender {
    @extend .input;
    position: relative;
    color: #727272;
}

.legend {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: calc(50% - .5em);
    left: 1.48em;
}

.woman {
    display: inline-flex;
    align-items: center;
    margin-left: 2.72em;
    margin-right: .64em;
}

.man {
    display: inline-flex;
    align-items: center;
}

.check {
    @extend .checkbox;
    margin-right: 5px;
}